body {
    font-family: roboto;
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    margin: 0px;
}

.header {
    display: flex;
    align-items: center;
    padding-top: 12px;
    justify-content: space-between;
    padding-right: 180px;
    padding-left: 180px;

}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    gap: 20px;
}

h1 {
    color: white;
    margin-bottom: 0;
}

.awesome-text {
    max-width: 400px;
    color: #E5E7EB;
    margin: 10px 0px;
    font-weight: 400;
}

.block-1 {
    display: flex;
    justify-content: space-between;
    padding: 50px 180px;


}

.block-2 {
    background-color: white;
    padding-right: 180px;
    padding-left: 180px;
}

.block-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding-right: 180px;
    padding-left: 180px;
}

.block-4 {
    display: flex;
    justify-content: center;
    background-color: white;
    color: #E5E7EB;
}

.blue-box {
    display: flex;
    align-items: center;
    font-size: 18px;
    justify-content: center;
    background-color: #3882F6;
    border-radius: 5px;
    margin-top: 60px;
    margin-bottom: 60px;
    height: 100px;
    width: 800px;
}

#quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: lighter;
    line-height: 45px;
    max-width: 800px;
    margin-bottom: 0;
}

#thor {

    font-size: 18px;
    font-weight: bolder;
    max-width: 720px;
    margin: 0px 0px 36px 0px;
}

.citation {
    display: flex;
    justify-content: flex-end;
    width: 800px;
}
a {
    text-decoration: none;
}

button {
    background-color: #3882F6;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    border-color: white;
    padding: 5px 25px;
}

a:link {
    display: flex;
    color: #E5E7EB;
    font-weight: 400;
    justify-content: flex-end;
}

a:visited {
    color: #E5E7EB;
}